:root {
  --white: #ffffff;
  --light-s: #f1cdb3;
  --dark-s: #cdcdcd;
  --dark: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-weight: 400;
  color: var(--white);
}

.container {
  padding: 30px 40px;
}

/* -------  Header  --------------------- */

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.header-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.logo-up {
  font-family: Georgia;
  font-size: 2em;
  font-weight: 100;
  line-height: 35.2px;
  letter-spacing: 2px;
  color: var(--light-s);
}

.logo-down {
  font-family: Arial;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 1.2px;
  color: var(--white);
}

.nav {
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-item {
  height: 100%;
  display: flex;
}

.nav-item__link {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  line-height: 28px;
  color: var(--dark-s);
}

.active {
  border-bottom: 3px solid var(--light-s);
}

@media (hover: hover) {

  .nav-item__link:hover {
    color: var(--white);
  }

}

/* -------  Preview  --------------------- */

.preview {
  width: 100vw;
  height: 908px;
  background-image: url(./../../assets/images/start-screen-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.preview-contain {
  width: 36%;
  display: flex;
  flex-direction: column;
  gap: 42px;
  position: absolute;
  bottom: 243px;
}

.preview__title {
  width: 350px;
  font-size: 44px;
  font-weight: 100;
  line-height: 57.2px;
  letter-spacing: 1.2px;
}

.preview__text {
  font-family: Arial;
  font-size: 15px;
  line-height: 24px;
  color: var(--dark-s);
}

.preview__btn {
  padding: 15px 45px;
  width: 207px;
  border-radius: 100px;
  background-color: var(--light-s);
}

.preview__btn_link {
  font-size: 17px;
  line-height: 22.1px;
  text-decoration: none;
  color: var(--dark);
}

.preview-screen {
  width: 698px;
  height: 728px;
  background-image: url(./../../assets/images/start-screen-puppy.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 40px;
  bottom: 0;
}
